@font-face {
    font-family: 'Arial';
    src: url(../fonts/Arial_Regular/ArialMT.ttf),
    url(../fonts/Arial_Regular/ArialMT.eot),
    url(../fonts/Arial_Regular/ArialMT.woff),
    url(../fonts/Arial_Regular/ArialMT.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url(../fonts/Arial_Bold/Arial-BoldMT.ttf),
    url(../fonts/Arial_Bold/Arial-BoldMT.eot),
    url(../fonts/Arial_Bold/Arial-BoldMT.woff),
    url(../fonts/Arial_Bold/Arial-BoldMT.woff2);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}