@import "fonts";
@import "variables";

// reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: $color_blue;
}
html, body{
    height: 100%;
    background: $color_bg;
}
a{
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    text-decoration: none;

    transition: 1s;

    &:hover,
    &:active,
    &:focus{
        color: $color_pink;
    }
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
p, span{
    padding: 0;
    margin: 0;
}

// tech classes

._wrapper{
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}

// 

.mr{
    margin-right: 5px;
}
.ml{
    margin-left: 5px;
}
.mrl{
    margin: 0 5px;
}

// header

.header{
    background: $color_white;
    margin: 0 0 30px 0;
    .header__nav{
        padding: 15px 0;

        .nav__top{
            margin: 0 13px 20px 0;
            .dropdown{
                margin: 0 28px 0 0;
                .btn{
                    position: relative;
                    font-family: 'Arial', sans-serif;
                    font-size: 17px;
                    line-height: 24px;
                    color: #ABB2BA;
                    padding: 0;

                    @media screen and (max-width: 575px) {
                        font-size: 15px;
                    }

                    &::after{
                        position: absolute;
                        content: url(../img/header/glyphicon_chevron-down.svg);
                        top: 2px;
                        right: -18px;
                    }
                    &:focus,
                    &:active,
                    &:hover{
                        border: 0;
                        outline: none;
                    }
                }

                .dropdown-menu{
                    .dropdown-item{
                        font-family: 'Arial', sans-serif;
                        font-size: 17px;
                        line-height: 24px;
                        color: #ABB2BA;
                        @media screen and (max-width: 575px) {
                            font-size: 15px;
                        }
                    }
                }
            }

            .nav__applicant-link{
                position: relative;
                color: #ABB2BA;
                @media screen and (max-width: 575px) {
                    font-size: 15px;
                }
                &::after{
                    position: absolute;
                    content: url(../img/header/glyphicon_chevron-right.svg);
                    top: 3px;
                    right: -17px;
                }
            }
        }

        .header__links{
            margin: 0 23px 0 0;
            @media screen and (max-width: 991px) {
                margin: 0;
            }
            
            .header__menu-list{
                .header__menu-item-1,
                .header__menu-item-2{
                    margin: 0 40px 0 0;
                    @media screen and (max-width: 991px) {
                        margin: 0 20px 0 0;
                    }
                }

                .header__menu-item-3{
                    margin: 0 40px 0 0;
                    @media screen and (max-width: 991px) {
                        margin: 0;
                    }
                }

                .header__menu-item-4{
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }

                .header__menu-item{
                    .header__menu-link{
                        position: relative;

                        .header__link-desk{
                            font-size: 20px;
                            font-weight: 700;
                            color: $color_blue;
                            @media screen and (max-width: 991px) {
                                display: none;
                            }
                        }

                        .header__link-mob{
                            display: none;
                            font-size: 11px;
                            line-height: 13px;
                            font-weight: 400;
                            @media screen and (max-width: 991px) {
                                display: block;
                            }
                        }

                        .header__menu-img{
                            display: none;
                            @media screen and (max-width: 991px) {
                                display: block;
                            }
                        }

                        .counter{
                            position: absolute;
                            display: inline-block;
                            background: $color_pink;
                            font-size: 14px;
                            line-height: 16px;
                            color: $color_white;
                            border-radius: 100px;
                            padding: 5px 10px;
                            top: 0px;
                            right: -23px;
                        }
                    }
                }
            }
        }

        .header__logo{
            width: 151px;
            @media screen and (max-width: 575px) {
                width: 40px;
            }
            .header-logo-des,
            .header-logo-mob{
                width: 100%;
            }
            .header-logo-des{
                @media screen and (max-width: 575px) {
                    display: none;
                }
            }
            .header-logo-mob{
                display: none;
                @media screen and (max-width: 575px) {
                    display: block;
                }
            }
        }
    }
}

._header__shadow{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: -13px;
        width: 100%;
        height: 13px;
        background: linear-gradient(93.65deg, #DE216B -5.03%, #009FF4 103.91%, #8D4F9D 103.91%);
    }
}

// main
.main{
    padding: 0 0 60px 0;
    @media screen and (max-width: 575px) {
        padding: 0 0 30px 0;
    }
    .form__btn-block-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 0 0;

        @media screen and (max-width: 443px) {
            flex-direction: column;
            align-items: flex-start;
        }
        form{
            input[type=button]{
                width: 198px;
                height: 40px;
                background: $color_green;
                color: $color_white;
                font-weight: 700;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        a{
            color: $color_blue;
        }
    }
    p{
        color: $color_black;
        margin: 20px 0;
    }
    .message{
        font-weight: 700;
        margin: 0;
    }
    .form__section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 20px 0;
        @media screen and (max-width: 787px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .form_search-block{
            @media screen and (max-width: 787px) {
                margin: 20px 0 0 0;
            }
        }
        .form__btn-block{
            display: flex;
            align-items: center;
            @media screen and (max-width: 575px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        form{
            margin: 0 20px 0 0;
            input[type=button]{
                width: 198px;
                height: 40px;
                background: $color_green;
                color: $color_white;
                font-weight: 700;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        .form__link{
            color: $color_green;
            margin: 0;
            a{
                color: $color_green;
                text-decoration: underline;
            }
            @media screen and (max-width: 575px) {
                margin: 5px 0 0 0;
            }
        }
    }
    .form__bb{
        border-bottom: 1px solid #E9EBED;
    }

    .accordion{
        .card{
            background: $color_bg;
            border: none;
            .card-header{
                background: $color_bg;
                border: none;
                padding: 20px 0;

                .btn-block{
                    padding: 0;
                    text-decoration: none;
                    img{
                        margin: 0 5px 0 0;
                    }
                    .img__info{
                        margin: 0 5px;
                    }
                }
            }
            .collapse{
                .card-body{
                    background: $color_white;
                    padding: 30px 40px 20px 20px;
                    border-bottom: 1px solid #E9EBED;

                    .card-body__box{
                        display: flex;
                        justify-content: space-between;

                        @media screen and (max-width: 575px) {
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .ad-titel{
                            h2{
                                font-size: 24px;
                                line-height: 26px;
                                font-weight: 700;
                            }
                            span{
                                font-size: 24px;
                                line-height: 26px;
                                color: $color_grey;
                            }
                        }
    
                        .adress{
                            color: #2C3F52;
                            margin: 10px 0;
                        }
    
                        .tags_block{
                            .date{
                                color: #6B7886;
                            }
                            .tag{
                                border-radius: 20px;
                                font-size: 14px;
                                line-height: 17px;
                                padding: 3px 8px;
                                margin: 0 5px 0 0;
                                img{
                                    vertical-align: baseline;
                                }
                            }
    
                            .tag-orange{
                                background: #FFCC00;
                            }
                            .tag-light-green{
                                background: #E3F3D9;
                                color: #467427;
                            }
                        }
    
                        .main__links{
                            display: flex;
                            margin: 20px 0 0 0;
                            @media screen and (max-width: 991px) {
                                padding: 0 0 20px 0;
                            }
                            span{
                                margin: 0 5px;
                                @media screen and (max-width: 991px) {
                                    display: none;
                                }
                            }
                            a{
                                color: $color_blue;
                                &:not(:last-child){
                                    @media screen and (max-width: 991px) {
                                        margin: 0 0 5px 0;
                                    }
                                }
                            }
                            .premium{
                                color: #FF9500;
                            }

                            @media screen and (max-width: 991px) {
                                flex-direction: column;
                            }
                        }

                        .comments__block{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            @media screen and (max-width: 575px) {
                                flex-direction: row;
                            }

                            .comment-number{
                                font-size: 32px;
                                line-height: 35px;
                                font-weight: 700;
                                @media screen and (max-width: 575px) {
                                    font-size: 19px;
                                    line-height: 21px;
                                }
                            }
                            .counter{
                                position: absolute;
                                display: inline-block;
                                background: $color_pink;
                                font-size: 14px;
                                line-height: 16px;
                                color: $color_white;
                                border-radius: 100px;
                                padding: 5px 10px;
                                top: -12px;
                                right: -15px;
                                @media screen and (max-width: 575px) {
                                    top: -2px;
                                    right: -35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-title{
    margin: 30px 0 20px 0;
    h1{
        font-size: 32px;
        line-height: 35px;
        color: $color_black;
        font-weight: 700;
    
        @media screen and (max-width: 575px) {
            font-size: 24px;
            line-height: 26px;
        }
    }
}

.number{
    color: #ABB2BA;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 375px;
    position: absolute;
    background: $color_white;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 420px) {
        min-width: 100%;
    }
    p,
    span{
        margin: 0;
        font-size: 15px;
        line-height: 21px;
        color: $color_black;
    }
    ul{
        li{
            font-size: 15px;
            line-height: 21px;
            &:not(:last-child){
                margin: 0 0 5px 0;
            }
            a{
                font-size: 15px;
                line-height: 21px;
                color: $color_blue;
            }
        }
    }
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.ptw{
    padding: 20px;
}


// footer

.footer{
    background: $color_white;
    border-top: 1px solid $color_pink;
    padding: 30px 0;
    .footer__top-section{
        border-bottom: 1px solid #E9EBED;
        padding: 0 0 20px 0;

        @media screen and (max-width: 575px) {
            border-bottom: none;
        }

        .dropdown{
            margin: 0 28px 0 0;
            .btn{
                position: relative;
                font-family: 'Arial', sans-serif;
                font-size: 17px;
                line-height: 24px;
                color: $color_blue;
                padding: 0;
    
                &::after{
                    position: absolute;
                    content: url(../img/footer/glyphicon_chevron-down-blue.svg);
                    top: 2px;
                    right: -18px;
                }
                &:focus,
                &:active,
                &:hover{
                    border: 0;
                    outline: none;
                }
            }
    
            .dropdown-menu{
                .dropdown-item{
                    font-family: 'Arial', sans-serif;
                    font-size: 17px;
                    line-height: 24px;
                    color: $color_blue;
                }
            }
        }

        .footer__links-apps{
            display: flex;
            .footer__img-link{
                width: 140px;
                img{
                    width: 100%;
                }
                &:not(:last-child){
                    margin: 0 10px 0 0;
                }
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        .footer__btn{
            button{
                background: $color_white;
                border-radius: 5px;
                border: 1px solid $color_blue;
                padding: 8px 20px;
                cursor: pointer;
                span{
                    font-weight: 700;
                }
                img{
                    margin: 0 0 0 10px;
                }
            }
        }
        .footer__btn-employer{
            margin: 0 0 0 30px;
            @media screen and (max-width: 575px) {
                display: none;
            }
        }
        .footer__btn-applicant{
            display: none;
            padding: 10px 0;
            @media screen and (max-width: 575px) {
                display: block;
            }
        }

        .footer__links{
            margin: 20px 0 10px 0;
            @media screen and (max-width: 575px) {
                margin: 5px 0 10px 0;
            }
        }

        p{
            color: $color_grey;
            @media screen and (max-width: 575px) {
                margin: 10px 0 0 0;
            }
        }
    }

    .footer__bottom-section{
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 0;
        @media screen and (max-width: 575px) {
            display: none;
        }
        p{
            color: $color_grey;
            span{
                color: red;
            }
        }
    }

    .footer__links{
        a{
            color: $color_grey;
        }
    }
}