@font-face {
  font-family: 'Arial';
  src: url(../fonts/Arial_Regular/ArialMT.ttf), url(../fonts/Arial_Regular/ArialMT.eot), url(../fonts/Arial_Regular/ArialMT.woff), url(../fonts/Arial_Regular/ArialMT.woff2);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url(../fonts/Arial_Bold/Arial-BoldMT.ttf), url(../fonts/Arial_Bold/Arial-BoldMT.eot), url(../fonts/Arial_Bold/Arial-BoldMT.woff), url(../fonts/Arial_Bold/Arial-BoldMT.woff2);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #0094DF;
}

html, body {
  height: 100%;
  background: #F2F2F2;
}

a {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

a:hover, a:active, a:focus {
  color: #E42469;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p, span {
  padding: 0;
  margin: 0;
}

._wrapper {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mr {
  margin-right: 5px;
}

.ml {
  margin-left: 5px;
}

.mrl {
  margin: 0 5px;
}

.header {
  background: #fff;
  margin: 0 0 30px 0;
}

.header .header__nav {
  padding: 15px 0;
}

.header .header__nav .nav__top {
  margin: 0 13px 20px 0;
}

.header .header__nav .nav__top .dropdown {
  margin: 0 28px 0 0;
}

.header .header__nav .nav__top .dropdown .btn {
  position: relative;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #ABB2BA;
  padding: 0;
}

@media screen and (max-width: 575px) {
  .header .header__nav .nav__top .dropdown .btn {
    font-size: 15px;
  }
}

.header .header__nav .nav__top .dropdown .btn::after {
  position: absolute;
  content: url(../img/header/glyphicon_chevron-down.svg);
  top: 2px;
  right: -18px;
}

.header .header__nav .nav__top .dropdown .btn:focus, .header .header__nav .nav__top .dropdown .btn:active, .header .header__nav .nav__top .dropdown .btn:hover {
  border: 0;
  outline: none;
}

.header .header__nav .nav__top .dropdown .dropdown-menu .dropdown-item {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #ABB2BA;
}

@media screen and (max-width: 575px) {
  .header .header__nav .nav__top .dropdown .dropdown-menu .dropdown-item {
    font-size: 15px;
  }
}

.header .header__nav .nav__top .nav__applicant-link {
  position: relative;
  color: #ABB2BA;
}

@media screen and (max-width: 575px) {
  .header .header__nav .nav__top .nav__applicant-link {
    font-size: 15px;
  }
}

.header .header__nav .nav__top .nav__applicant-link::after {
  position: absolute;
  content: url(../img/header/glyphicon_chevron-right.svg);
  top: 3px;
  right: -17px;
}

.header .header__nav .header__links {
  margin: 0 23px 0 0;
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links {
    margin: 0;
  }
}

.header .header__nav .header__links .header__menu-list .header__menu-item-1,
.header .header__nav .header__links .header__menu-list .header__menu-item-2 {
  margin: 0 40px 0 0;
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links .header__menu-list .header__menu-item-1,
  .header .header__nav .header__links .header__menu-list .header__menu-item-2 {
    margin: 0 20px 0 0;
  }
}

.header .header__nav .header__links .header__menu-list .header__menu-item-3 {
  margin: 0 40px 0 0;
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links .header__menu-list .header__menu-item-3 {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links .header__menu-list .header__menu-item-4 {
    display: none;
  }
}

.header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link {
  position: relative;
}

.header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .header__link-desk {
  font-size: 20px;
  font-weight: 700;
  color: #0094DF;
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .header__link-desk {
    display: none;
  }
}

.header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .header__link-mob {
  display: none;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .header__link-mob {
    display: block;
  }
}

.header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .header__menu-img {
  display: none;
}

@media screen and (max-width: 991px) {
  .header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .header__menu-img {
    display: block;
  }
}

.header .header__nav .header__links .header__menu-list .header__menu-item .header__menu-link .counter {
  position: absolute;
  display: inline-block;
  background: #E42469;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border-radius: 100px;
  padding: 5px 10px;
  top: 0px;
  right: -23px;
}

.header .header__nav .header__logo {
  width: 151px;
}

@media screen and (max-width: 575px) {
  .header .header__nav .header__logo {
    width: 40px;
  }
}

.header .header__nav .header__logo .header-logo-des,
.header .header__nav .header__logo .header-logo-mob {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .header .header__nav .header__logo .header-logo-des {
    display: none;
  }
}

.header .header__nav .header__logo .header-logo-mob {
  display: none;
}

@media screen and (max-width: 575px) {
  .header .header__nav .header__logo .header-logo-mob {
    display: block;
  }
}

._header__shadow {
  position: relative;
}

._header__shadow::after {
  content: '';
  position: absolute;
  bottom: -13px;
  width: 100%;
  height: 13px;
  background: linear-gradient(93.65deg, #DE216B -5.03%, #009FF4 103.91%, #8D4F9D 103.91%);
}

.main {
  padding: 0 0 60px 0;
}

@media screen and (max-width: 575px) {
  .main {
    padding: 0 0 30px 0;
  }
}

.main .form__btn-block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 443px) {
  .main .form__btn-block-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main .form__btn-block-bottom form input[type=button] {
  width: 198px;
  height: 40px;
  background: #74C241;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.main .form__btn-block-bottom a {
  color: #0094DF;
}

.main p {
  color: #000;
  margin: 20px 0;
}

.main .message {
  font-weight: 700;
  margin: 0;
}

.main .form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 20px 0;
}

@media screen and (max-width: 787px) {
  .main .form__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 787px) {
  .main .form__section .form_search-block {
    margin: 20px 0 0 0;
  }
}

.main .form__section .form__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .main .form__section .form__btn-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main .form__section form {
  margin: 0 20px 0 0;
}

.main .form__section form input[type=button] {
  width: 198px;
  height: 40px;
  background: #74C241;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.main .form__section .form__link {
  color: #74C241;
  margin: 0;
}

.main .form__section .form__link a {
  color: #74C241;
  text-decoration: underline;
}

@media screen and (max-width: 575px) {
  .main .form__section .form__link {
    margin: 5px 0 0 0;
  }
}

.main .form__bb {
  border-bottom: 1px solid #E9EBED;
}

.main .accordion .card {
  background: #F2F2F2;
  border: none;
}

.main .accordion .card .card-header {
  background: #F2F2F2;
  border: none;
  padding: 20px 0;
}

.main .accordion .card .card-header .btn-block {
  padding: 0;
  text-decoration: none;
}

.main .accordion .card .card-header .btn-block img {
  margin: 0 5px 0 0;
}

.main .accordion .card .card-header .btn-block .img__info {
  margin: 0 5px;
}

.main .accordion .card .collapse .card-body {
  background: #fff;
  padding: 30px 40px 20px 20px;
  border-bottom: 1px solid #E9EBED;
}

.main .accordion .card .collapse .card-body .card-body__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 575px) {
  .main .accordion .card .collapse .card-body .card-body__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .ad-titel h2 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

.main .accordion .card .collapse .card-body .card-body__box .ad-titel span {
  font-size: 24px;
  line-height: 26px;
  color: #6B7886;
}

.main .accordion .card .collapse .card-body .card-body__box .adress {
  color: #2C3F52;
  margin: 10px 0;
}

.main .accordion .card .collapse .card-body .card-body__box .tags_block .date {
  color: #6B7886;
}

.main .accordion .card .collapse .card-body .card-body__box .tags_block .tag {
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 8px;
  margin: 0 5px 0 0;
}

.main .accordion .card .collapse .card-body .card-body__box .tags_block .tag img {
  vertical-align: baseline;
}

.main .accordion .card .collapse .card-body .card-body__box .tags_block .tag-orange {
  background: #FFCC00;
}

.main .accordion .card .collapse .card-body .card-body__box .tags_block .tag-light-green {
  background: #E3F3D9;
  color: #467427;
}

.main .accordion .card .collapse .card-body .card-body__box .main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 991px) {
  .main .accordion .card .collapse .card-body .card-body__box .main__links {
    padding: 0 0 20px 0;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .main__links span {
  margin: 0 5px;
}

@media screen and (max-width: 991px) {
  .main .accordion .card .collapse .card-body .card-body__box .main__links span {
    display: none;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .main__links a {
  color: #0094DF;
}

@media screen and (max-width: 991px) {
  .main .accordion .card .collapse .card-body .card-body__box .main__links a:not(:last-child) {
    margin: 0 0 5px 0;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .main__links .premium {
  color: #FF9500;
}

@media screen and (max-width: 991px) {
  .main .accordion .card .collapse .card-body .card-body__box .main__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .comments__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .main .accordion .card .collapse .card-body .card-body__box .comments__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .comments__block .comment-number {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

@media screen and (max-width: 575px) {
  .main .accordion .card .collapse .card-body .card-body__box .comments__block .comment-number {
    font-size: 19px;
    line-height: 21px;
  }
}

.main .accordion .card .collapse .card-body .card-body__box .comments__block .counter {
  position: absolute;
  display: inline-block;
  background: #E42469;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border-radius: 100px;
  padding: 5px 10px;
  top: -12px;
  right: -15px;
}

@media screen and (max-width: 575px) {
  .main .accordion .card .collapse .card-body .card-body__box .comments__block .counter {
    top: -2px;
    right: -35px;
  }
}

.main-title {
  margin: 30px 0 20px 0;
}

.main-title h1 {
  font-size: 32px;
  line-height: 35px;
  color: #000;
  font-weight: 700;
}

@media screen and (max-width: 575px) {
  .main-title h1 {
    font-size: 24px;
    line-height: 26px;
  }
}

.number {
  color: #ABB2BA;
}

.footer {
  background: #fff;
  border-top: 1px solid #E42469;
  padding: 30px 0;
}

.footer .footer__top-section {
  border-bottom: 1px solid #E9EBED;
  padding: 0 0 20px 0;
}

@media screen and (max-width: 575px) {
  .footer .footer__top-section {
    border-bottom: none;
  }
}

.footer .footer__top-section .dropdown {
  margin: 0 28px 0 0;
}

.footer .footer__top-section .dropdown .btn {
  position: relative;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #0094DF;
  padding: 0;
}

.footer .footer__top-section .dropdown .btn::after {
  position: absolute;
  content: url(../img/footer/glyphicon_chevron-down-blue.svg);
  top: 2px;
  right: -18px;
}

.footer .footer__top-section .dropdown .btn:focus, .footer .footer__top-section .dropdown .btn:active, .footer .footer__top-section .dropdown .btn:hover {
  border: 0;
  outline: none;
}

.footer .footer__top-section .dropdown .dropdown-menu .dropdown-item {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #0094DF;
}

.footer .footer__top-section .footer__links-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__top-section .footer__links-apps .footer__img-link {
  width: 140px;
}

.footer .footer__top-section .footer__links-apps .footer__img-link img {
  width: 100%;
}

.footer .footer__top-section .footer__links-apps .footer__img-link:not(:last-child) {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 767px) {
  .footer .footer__top-section .footer__links-apps {
    display: none;
  }
}

.footer .footer__top-section .footer__btn button {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #0094DF;
  padding: 8px 20px;
  cursor: pointer;
}

.footer .footer__top-section .footer__btn button span {
  font-weight: 700;
}

.footer .footer__top-section .footer__btn button img {
  margin: 0 0 0 10px;
}

.footer .footer__top-section .footer__btn-employer {
  margin: 0 0 0 30px;
}

@media screen and (max-width: 575px) {
  .footer .footer__top-section .footer__btn-employer {
    display: none;
  }
}

.footer .footer__top-section .footer__btn-applicant {
  display: none;
  padding: 10px 0;
}

@media screen and (max-width: 575px) {
  .footer .footer__top-section .footer__btn-applicant {
    display: block;
  }
}

.footer .footer__top-section .footer__links {
  margin: 20px 0 10px 0;
}

@media screen and (max-width: 575px) {
  .footer .footer__top-section .footer__links {
    margin: 5px 0 10px 0;
  }
}

.footer .footer__top-section p {
  color: #6B7886;
}

@media screen and (max-width: 575px) {
  .footer .footer__top-section p {
    margin: 10px 0 0 0;
  }
}

.footer .footer__bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 0 0;
}

@media screen and (max-width: 575px) {
  .footer .footer__bottom-section {
    display: none;
  }
}

.footer .footer__bottom-section p {
  color: #6B7886;
}

.footer .footer__bottom-section p span {
  color: red;
}

.footer .footer__links a {
  color: #6B7886;
}
/*# sourceMappingURL=style.css.map */